#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.aqua {
  background-color: aqua;
}
.brown {
  background-color: brown;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.blueviolet {
  background-color: blueviolet;
}
.blue {
  background-color: blue;
}
.black {
  background-color: black;
}
